.container {
  border: 2px solid black;
  border-radius: 5%;
  padding: 10px;
  font-weight: 700;
  width: 200px;
  height: 230px;
  box-sizing: border-box;
}
.avatar {
  border-radius: 5%;
  width: 85px;
  margin-top: 15px;
}
.title {
  font-size: 16px;
}

.status {
  font-size: 20px;
}

.isOnline {
  color: green;
}

.isOffline {
  color: red;
}
